NEXT_APP_URL=http://localhost:3001
NEXT_PUBLIC_API_BASE_URL=http://localhost:3000/api/v1

#PAYMONGO
NEXT_PUBLIC_PAYMONGO_PUBLIC_KEY=
NEXT_PUBLIC_PAYMONGO_API_BASE_URL=https://api.paymongo.com/v1

AUTH_COOKIE_SECURE=false
AUTH_COOKIE_DOMAIN=
