<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Frontend Proxy" stopProcessing="true">
                    <match url="(.*)" />

                    <serverVariables>
                        <set
                            name="HTTP_X_FORWARDED_HOST"
                            value="{HTTP_HOST}"
                            replace="true"
                        />
                        <set
                            name="HTTP_X_FORWARDED_PROTO"
                            value="https"
                            replace="true"
                        />
                    </serverVariables>

                    <action
                        type="Rewrite"
                        url="http://localhost:3001/{R:1}"
                        appendQueryString="true"
                    />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>